%wrapper.wrapper
  .main__box--red
    = fa_icon 'search', class: 'icon'
  .main__box--yellow
    = fa_icon 'search', class: 'icon'
  .main__box--orange
    = fa_icon 'search', class: 'icon'
  .main__box--green
    = fa_icon 'search', class: 'icon'
  .main__box--blue
    = fa_icon 'search', class: 'icon'
  .main__box--purple
    = fa_icon 'search', class: 'icon'
  .main__box--red
    = fa_icon 'search', class: 'icon'
  .main__box--yellow
    = fa_icon 'search', class: 'icon'
  .main__box--orange
    = fa_icon 'search', class: 'icon'
  .main__box--green
    = fa_icon 'search', class: 'icon'
  .main__box--blue
    = fa_icon 'search', class: 'icon'
  .main__box--purple
    = fa_icon 'search', class: 'icon'
  .main__box--red
    = fa_icon 'search', class: 'icon'
  .main__box--yellow
    = fa_icon 'search', class: 'icon'
  .main__box--orange
    = fa_icon 'search', class: 'icon'
  .main__box--green
    = fa_icon 'search', class: 'icon'
  .main__box--blue
    = fa_icon 'search', class: 'icon'
  .main__box--purple
    = fa_icon 'search', class: 'icon'
