%wrapper.wrapper
  .main__content
    .main__box--red
      .main__box--red--icon
        = fa_icon 'youtube', class: 'icon'
      .main__box--red--content
        %p.main__box--red--title
        %p.main__box--red--text
          Hello World!

    .main__box--yellow
      .main__box--yellow--icon
        = fa_icon 'image', class: 'icon'
      .main__box--yellow--content
        %p.main__box--yellow--title
        %p.main__box--yellow--text
          Hello World!

    .main__box--green
      .main__box--green--icon
        = fa_icon 'comment', class: 'icon'
      .main__box--green--content
        %p.main__box--green--title
        %p.main__box--green--text
          Hello World!

    .main__box--blue
      .main__box--blue--icon
        = fa_icon 'cloud', class: 'icon'
      .main__box--blue--content
        %p.main__box--blue--title
        %p.main__box--blue--text
          Hello World!

    .main__box--purple
      .main__box--purple--icon
        = fa_icon 'camera', class: 'icon'
      .main__box--purple--content
        %p.main__box--purple--title
        %p.main__box--purple--text
          Hello World!

    .main__box--orange
      .main__box--orange--icon
        = fa_icon 'thumbs-up', class: 'icon'
      .main__box--orange--content
        %p.main__box--orange--title
        %p.main__box--orange--text
          Good!

    .main__box--gray
      .main__box--gray--icon
        = fa_icon 'cog', class: 'icon'
      .main__box--gray--content
        %p.main__box--gray--title
        %p.main__box--gray--text
          Setting
