%header
  %h1
    = link_to root_path, class: 'title' do
      Muneichi
  .sns
    = link_to root_path, class: 'sns__icon' do
      = fa_icon 'twitter'
    = link_to root_path, class: 'sns__icon' do
      = fa_icon 'instagram'
